@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

textarea:focus, input:focus{
  outline: none;
}

.wrong-input, .wrong-input:focus {
  outline: 1px red solid;
}

input::-ms-reveal, input::-ms-clear {
  display: none;
}